body{
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'Slabo 27px', serif;
}

.col-md-3{
  background-image: url("/bg5.jpg");
  margin: 0;
  padding: 0;
}
.myImage{
  width: 100%;
  height: auto;
}
.col-md-9{
  background-color: #f9fcfc;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  min-height: 100%;
}

.portfolioSlide{
  background-size: cover;
  min-height: 100vh;


}

.menu{
  min-height: 100vh;
  background-color: rgba(0,0,0,.7);
  background-size: cover;
}

.nextPrev{
  width: 100%;
  position: absolute;
  padding: 0;
 bottom: 0;
  display: block;
}

.nextPrev button{
  border-radius: 0;

  color: white;
  width: 50%;
  font-weight: bold;
}

.name{
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.role{
  color: #767676;
  font-size: small;
}
.icon{

  font-size:2rem;

}
.contactContainer{
  margin-top: 20px;
  margin-bottom: 50px;
}
.contactContainer p {
  color: #e0e0e0;
  text-align: left;
  margin-left: 2rem;
  font-size: 1rem;

}

.page1Container{
  color: #6a6a6a;
  text-align: left;
}

.sectionTitle{
  margin-top: 40px;
  min-width: 40%;
  height: 60px;
  display: table;
  color: black;
}
.underline{
  margin-top: -10px;
  height: 5px;
  border-radius: 3px;
  width: 100px;
  background-color: #17A2B8;
}
.sectionTitle h2{
  display: table-cell;
  vertical-align: middle;
}

.eduCardHeader{
  color: #3a3a3a;
}

.edCardTitle{
  text-align: left;
  color: #212121;
}
.edCardText{
  color: #4c4c4c;
  text-align: left;
}

.card-footer{
  font-size: .9rem;
  text-align: right;
}

.card{
  border-radius: 0;
}

.chartContainer{
  text-align: center;
}

.cardImage{
  min-height: 300px;
  background-image: url("/website1.png");
  background-size: cover;
}
.cardImage2{
  min-height: 300px;
  background-image: url("/website2.png");
  background-size: cover;

}

.cardImage3{
  min-height: 300px;
  background-image: url("/website3.png");
  background-size: cover;

}
.portfolioCard{
  color: #212121;

}

.slick-prev:before,
.slick-next:before {
  color: #14112C;
}

.gitBtn{
  margin: auto;
  border-radius: 0;
}

.pfTitle{
  color: #4a4a4a;
  font-weight: bold;
}

.pfText{
  color: #6a6a6a  ;
}